body {
  margin: 0;
  font-family: "Montserrat", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ECECEA;
  background-color: #2E4E50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 12px 5%;
}

button {
  color: #ECECEA;
  background-color: #213A3D;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 16px;
  padding: 16px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: rgba(13, 21, 24, 0.71);
}

a:hover {
  cursor: pointer;
}

.error-page, .provisional {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page > img, .provisional > img {
  width: 320px;
}

footer {
  background-color: rgba(13, 21, 24, 0.71);
  padding: 12px;
  text-align: center;
}

ul {
  list-style-type: none;
}