:root {
  --primary-bg: #2E4E50; /* Midnight Teal */
  --primary-text: #ECECEA; /* Off-White Text */
  --secondary-text: #D7CBBE; /* Muted Beige */
  --section-bg-green: #335D4E; /* Muted Emerald Green */
  --section-bg-blue: #3B6E8C; /* Dusky Blue */
  --section-bg-yellow: #6C6B3F; /* Warm Olive Yellow */
  --section-bg-orange: #8B503D; /* Soft Burnt Orange */
  --accent-green: #20412C; /* Deep Forest Green */
}

body {
  margin: 0;
  font-family: "Montserrat", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ECECEA;
  background-color: #2E4E50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 0 5%;
}