.full-forecast-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 5% 20px 5%;
}

.full-forecast-box > h3 {
    margin: 8px 0;
}

.weather-attributes-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 20px 0;
}

.forecast-data-box {
    width: 150px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ECECEA;
    border-radius: 16px;
    background-color: #213A3D;
 }

.forecast-data-box > img {
    width: 60px;
}

.forecast-data-box > * {
    margin: 8px 0;
}

.local-time-icon {
    width: 60px;
}

h4 {
    margin: 12px 0;
}