.nav-links-box {
    position: absolute;
    top: 12px;
    display: flex;
    margin-left: calc(5% - 24px);
    background-color: rgba(33, 50, 61, 0.4);
    border-radius: 16px;
}

.nav-links-box > a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 14px 20px;
}

.nav-links-box > a:focus, .nav-links-box > a:visited {
    color: antiquewhite;
}