form {
    margin: 80px 5% 20px 5%;
    display: flex;
    flex-direction: column;
}

form > * {
    width: fit-content;
}

.autofill-box {
    display: flex;
    flex-direction: column;
}

input::placeholder{

}

input, .autofill-box > button {
    font-size: 1rem;
    font-weight: normal;
    padding: 6px;
    border: 1px solid #ECECEA;
    border-radius: 0;
    background-color: #213A3D;
    color: #ECECEA;
}

.autofill-box > button:hover, .submit-btn:hover {
    background-color: #234548;
}

.submit-btn {
    margin-top: 24px;
    padding: 12px;
    border: 2px solid #ECECEA;
    font-size: 0.9rem;
}

.submit-btn:disabled {
    background-color: #213A3D;
    color: #31796e;
    border: #31796e;
    cursor: default;
}