.img-fact-tab {
    width: 24rem;
    height: min-content;
    margin: 16px;
    border-radius: 16px;
}

.fact-tab-box {
    display: flex;
    margin: 16px 0;
    padding: 16px;
    background-color: #213A3D;
    border-radius: 16px;
}