.data-icon {
    width: 50px;
    padding: 8px;
}

.recent-data > * {
    text-align: center;
}

.climate-data-container {
    margin: 80px 5% 20px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-data-box {
    display: flex;
    flex-direction: row;
}